<!DOCTYPE html>
<html>
<head>
  <title>Ppapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>БЛЯДСКИЙ ЗАГОЛОВОК, ИБО ЧЕ КАК ЛОХИ СИДИМ</h1>
<%@users.each do |user|%>
<div class="logo">
<%=image_tag(user[:photo_max], class: "img")%>
<%=user[:first_name]%>
<%=user[:last_name]%>
</div>
<%end%>

<div class="user">
<%=image_tag(@cur_user[:photo_50], class: "img_cur")%>
<%=@cur_user[:first_name]%>
<%=@cur_user[:last_name]%>
</div>

</body>
</html>
